
<div class="contact-row">
    <a href="tel:+45-11-22-33-44" class="contact-block" title="Telephone">
        <svg width="25" height="25" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="8" y="6" width="22" height="34" rx="3" stroke="#7cdb6b" stroke-width="2" fill="none" />
            <rect x="15" y="34" width="8" height="2" rx="1.5" fill="#7cdb6b" />
        </svg>
        @* <a href="tel:+45-11-22-33-44" class="contact-tel" title="Telephone">+45 11 22 33 44</a> *@
        <span class="contact-tel">+45 11 22 33 44</span>
    </a>
    <a href="mailto:aalborg@flexybox.com" class="contact-block" title="Email">
        <span class="icon contact-mail">&#64</span>
        @* <a href="mailto:aalborg@flexybox.com" class="contact-email" title="Email">aalborg@flexybox.com</a> *@
        <span class="contact-email">aalborg@flexybox.com</span>
    </a>
    <div class="contact-block">
        <svg width="25" height="25" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 28v-4c0-6.627 5.373-12 12-12s12 5.373 12 12v4" stroke="#A3E3C3" stroke-width="2.5" fill="none" />
            <rect x="10" y="28" width="6" height="8" rx="3" stroke="#A3E3C3" stroke-width="2" />
            <rect x="32" y="28" width="6" height="8" rx="3" stroke="#A3E3C3" stroke-width="2" />
            <rect x="21" y="37.8" width="6" height="4" rx="1.5" fill="#A3E3C3" />
            <path d="M35 36 Q37 40 25 40" stroke="#A3E3C3" stroke-width="2" fill="none" stroke-linecap="round" />
        </svg>
    </div>
</div>