<div>
    <div class="image-gallery-inner">
        <img src="/images/restaurant-interior.jpg" alt="Restaurant interior" class="image" />
        <img src="/images/lee-campbell.jpg" alt="Restaurant view" class="image" />
    </div>
</div>