<div class="opening-hours-section">
    <h2>Opening hours</h2>
    <div class="tabs-scroll">
        <div class="tabs-inner">
            <button class="tab active">Restaurant</button>
            <button class="tab">Takeaway</button>
            <button class="tab">Buffet</button>
            <button class="tab">Special Events for Groups</button>
        </div>
    </div>
    <table class="hours-table">
        <tr><td>Monday - Thursday</td><td class="hours">07:00 - 22:00</td></tr>
        <tr><td>Friday</td><td class="hours">07:00 - 22:00</td></tr>
        <tr><td>Saturday</td><td class="hours">07:00 - 22:00</td></tr>
        <tr><td>Sunday</td><td class="hours">07:00 - 22:00</td></tr>
        <tr><td><span class="holiday">Holidays</span></td><td class="hours">Closed</td></tr>
    </table>
</div>