h1 {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 600;
}


h2 {
    font-size: 20px;
    font-weight: 600;
}

span,
td {
    color: #666666;
}

.restaurant-card {
    max-width: 450px;
    margin: 1rem auto;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    padding: 1.5rem;
    font-family: 'Segoe UI', Arial, sans-serif;
}

.header {
    padding-bottom: 1rem;
}

.title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.favourite-icon {
    font-size: 30px;
    text-align-last: center;
    background: #f5f5f5;
    border-radius: 30px;
    width: 45px;
    color: #626262;
    cursor: pointer;
}

.favourite-icon:hover {
    background: #e1e7e1;
}

.favourite-icon.active {
    background: #000;
    color: #fff;
}

.favourite-icon.active:hover {
    background: #626262;
    color: #fff;
}

.information-row {
    display: flex
}

.status {
    font-size: 1rem;
    font-weight: 600;
    border-radius: 8px;
    color: #7cdb6b;
    margin: 0.3em .5rem 0.7em 0px;
}

.status.open {
    color: #1ca94c;
    background: #eafbe7;
}

.information-divider {
    text-align: center;
    align-self: center;
    display: flex;
    justify-content: center;
    margin: 0.3em .5rem 0.7em 0px;
}

.address {
    color: #666666;
    font-size: 0.95rem;
    margin: 0.4em 0 0.7em 0;
}