<div class="restaurant-card">
    <div class="header">
        <div class="title-row">
            <h1 class="restaurant-title">Aalborg</h1>
            <span class="favourite-icon active">&#9825;</span>
        </div>
        <div class="information-row">
            <span class="status">• Open</span>
            <div class="information-divider">·</div>
            <div class="address">Østergade 27, 9000 · Aalborg</div>
        </div>
        <ContactInfo />
    </div>
    <ImageGallery />
    <OpeningHours />
</div>