@using Flexybook.Domain.Responses.Restaurant
@inject IJSRuntime JS

@if (Images != null && Images.Any())
{
    <div class="image-gallery-inner" @ref="galleryRef">
        @foreach (var image in Images)
        {
            <img src="@image.Base64Data" alt="Restaurant image" class="image" />
        }
    </div>
}
else
{
    <div class="image-gallery-inner" @ref="galleryRef">
        <img src="/images/restaurant-interior.jpg" alt="Restaurant interior" class="image" />
        <img src="/images/lee-campbell.jpg" alt="Restaurant view" class="image" />
    </div>
}

@code {
    private ElementReference galleryRef;

    [Parameter]
    public List<ImageResponse>? Images { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JS.InvokeVoidAsync("enableHorizontalWheelScroll", galleryRef);
    }
}